---
import Layout from "../layouts/Layout.astro";
import AboutContainer from "../components/About.astro";
---

<Layout title="About - Nuke, The Goblin bot">
  <main class="w-4/5 m-auto">
    <AboutContainer />
  </main>
</Layout>
