---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Presentation from "../components/Presentation.astro";
import Features from "../components/Features.astro";
---

<Layout title="Welcome to Astro.">
  <main class="w-4/5 m-auto">
    <Header />
    <Presentation />
    <Features />
  </main>
</Layout>
