---
import spells from "../assets/spellIcon.svg";
import fumble from "../assets/fumbleIcon.svg";
import dice from "../assets/diceIcon.svg";
import phrases from "../assets/phrasesIcon.svg";

import Feature from "./Feature.astro";
---

<div
  class="container justify-evenly bg-goblin-green py-12 px-0 m-auto grid grid-cols-2 grid-rows-2 gap-y-10 h-fit rounded-[50px] justify-items-center"
>
  <h1
    class="font-satisfy text-5xl m-0 text-gray-ish row-span-1 col-span-2 self-center"
  >
    Features
  </h1>
  <Feature
    class:list={"spells"}
    imgSrc={spells}
    header="Spells"
    description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita quibusdam exercitationem ex obcaecati similique doloremque illum quo corporis nam, blanditiis eos magni aliquam quisquam, rerum non itaque atque! Recusandae, ipsam?"
  />
  <Feature
    class:list={"fumble row-span-1 col-span-1"}
    imgSrc={fumble}
    header="Fumbles"
    description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita quibusdam exercitationem ex obcaecati similique doloremque illum quo corporis nam, blanditiis eos magni aliquam quisquam, rerum non itaque atque! Recusandae, ipsam?"
  />
  <Feature
    class:list={"phrases row-span-1 col-span-1"}
    imgSrc={phrases}
    header="Phrases"
    description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita quibusdam exercitationem ex obcaecati similique doloremque illum quo corporis nam, blanditiis eos magni aliquam quisquam, rerum non itaque atque! Recusandae, ipsam?"
  />
  <Feature
    class:list={"dice row-span-1 col-span-1"}
    imgSrc={dice}
    header="Dice Rolling"
    description="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita quibusdam exercitationem ex obcaecati similique doloremque illum quo corporis nam, blanditiis eos magni aliquam quisquam, rerum non itaque atque! Recusandae, ipsam?"
  />
</div>

<style>
  .container {
    box-shadow: #d0d4cf -35px 35px;
    width: 90%;
  }
</style>
