---
interface Props {
  imgSrc: string;
  header: string;
  description: string;
}

const { imgSrc, header, description } = Astro.props;
---

<div class="text-gray-ish flex gap-4 max-w-lg">
  <img class="pt-5 w-28 self-start" src={imgSrc} />
  <div>
    <h1 class="header font-satisfy text-3xl">{header}</h1>
    <p class="description">{description}</p>
  </div>
</div>
