---
import logo from "../assets/Logo.svg";
import discordIcon from "../assets/DiscordIcon.svg";
---

<nav class="flex justify-between my-4 mx-0">
  <a href="/">
    <img src={logo} alt="Nuke, the Goblin bot logo" />
  </a>
  <ul class="flex list-none gap-6 items-center">
    <li class="text-goblin-green font-satisfy text-3xl align-middle">
      <a href="#">Docs</a>
    </li>
    <li class="text-goblin-green font-satisfy text-3xl">
      <a href="#">Commands</a>
    </li>
    <li class="text-goblin-green font-satisfy text-3xl">
      <a href="#">About</a>
    </li>
    <li class="font-semibold text-2xl">
      <a
        class="discord-login text-white flex gap-3 align-middle rounded-full bg-discord-blue py-1 px-5"
        href="#"><img src={discordIcon} alt="Discord logo" /> Login</a
      >
    </li>
  </ul>
</nav>
