---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Satisfy&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-ish font-sans overflow-x-hidden">
    <slot />
    <div class="circle"></div>
  </body>
</html>
<style is:global>
  .circle {
    border: 3px #ad7941 solid;
    border-radius: 80rem;

    height: 80rem;
    width: 80rem;

    position: absolute;
    z-index: -1;

    top: 425px;
    right: -20rem;
  }
</style>
